[submodule "libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "bpftool"]
	path = bpftool
	url = https://github.com/libbpf/bpftool.git
[submodule "kernel-module/nvidia-module"]
	path = kernel-module/nvidia-module
	url = https://github.com/eunomia-bpf/gpu_ext-kernel-modules
[submodule "workloads/faiss/faiss"]
	path = workloads/faiss/faiss
	url = https://github.com/eunomia-bpf/faiss
[submodule "workloads/llama.cpp/llama.cpp"]
	path = workloads/llama.cpp/llama.cpp
	url = https://github.com/crupest/llama.cpp
[submodule "workloads/vllm/vllm"]
	path = workloads/vllm/vllm
	url = https://github.com/eunomia-bpf/vllm.git
	branch = uvm
[submodule "docs/paper"]
	path = docs/paper
	url = https://github.com/yunwei37/gbpf-paper
